<div>
  <h1>Privatumo politikos sutikimas</h1>
  <button
    type="button"
    mat-mini-fab
    color="secondary"
    (click)="changeLanguage()"
    id="lang-btn"
  >
    <strong>EN</strong>
  </button>
  <h3>Privatumo politika (scroll):</h3>
  <div id="priv">
    <strong> Google Analytics </strong>
    <p>
      Tinklapis naudoja Google Analytics ir seka tik bendrą analitinę
      informaciją – tinklapio apsilankymų skaičių su prisijungimo vietomis
      miesto tikslumu. Duomenų rinkimo tikslas – turėti reklaminio sėkmingumo
      grįžtamąjį ryšį ir pagal tai keisti tinklapio tobulinimo veiklą. Kaip
      Google naudoja renkamą informaciją, skaitykite apie
      <a href="https://policies.google.com/" target="_blank" rel="noreferrer"
        >Google privatumą ir sąlygas</a
      >.
    </p>
    <strong>LocalStorage</strong>
    <p>
      Taip pat tinklapis naudoja jūsų naršyklės vietinę talpą, kad patalpintų
      informaciją apie sutikimą su šio tinklapio privatumo politika. Tikslas –
      tinklapio naudotojo patogumas, neiššokantis tas pats pranešimas kiekvieną
      kartą atsidarius tinklapį.
    </p>
  </div>
  <p class="end-priv">
    Visą šią privatumo politiką Jūs galite visuomet rasti tinklapio poraštėje.
  </p>

  <button
    mat-button
    mat-raised-button
    mat-dialog-close
    (click)="consent()"
    color="primary"
    id="consent-btn"
  >
    Sutikti ir tęsti lankymąsi tinklapyje
  </button>
  <p class="end-priv">
    Jeigu nesutinkate, Jūs negalite naudotis šiuo tinklapiu
  </p>
</div>
