<div>
  <h1>Privacy policy consent</h1>
  <button
    type="button"
    mat-mini-fab
    color="secondary"
    (click)="changeLanguage()"
    id="lang-btn"
  >
    <strong>LT</strong>
  </button>
  <h3>Privacy policy (scroll):</h3>
  <div id="priv">
    <strong> Google Analytics </strong>
    <p>
      This website uses Google Analytics and tracks only the general analytic
      information - number of website's visits together with devices' locations
      to a city approximity. Purpose of data gathering is to have feedback on
      how successful the advertising is, and according to that - adjust activity
      on improving the website. To know how Google uses collected data, read
      about
      <a href="https://policies.google.com/" target="_blank" rel="noreferrer"
        >Google privacy and terms</a
      >.
    </p>
    <strong>LocalStorage</strong>
    <p>
      In addition, website uses your browser local storage to store information
      on whether you agreed with this website's privacy policy. The purpose -
      user convenience, no pop up repetition for getting consent everytime the
      website is opened.
    </p>
  </div>
  <p class="end-priv">
    All this privacy policy you can always find in the footer of this website.
  </p>

  <button
    mat-button
    mat-raised-button
    mat-dialog-close
    (click)="consent()"
    color="primary"
    id="consent-btn"
  >
    Agree and proceed to the website
  </button>
  <p class="end-priv">If you disagree, you cannot use this website</p>
</div>
