<main>
  <header>
    <button
      type="button"
      mat-mini-fab
      color="secondary"
      (click)="changeLanguage()"
    >
      LT
    </button>

    <h1>skafis</h1>
    <h2><em>Create tests easily!</em></h2>
  </header>
  <p>
    This website generates HTML files with questions, where only one answer
    option is correct. The user of HTML file can then answer the questions and
    check the answers (each problem separately).
  </p>
  <p>
    This Skafis version is the most suitable for quick content summarization and
    students' self-assesment.
  </p>
  <mat-card class="alert-card warn-alert">
    <mat-card-content>
      The process is not saved! When the website is refreshed, all the
      information disappears!
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>
      <h4>
        <strong>Hmm, see? There's no ads! Let's keep it that way ;)</strong>
      </h4>
      <p>
        I would be really thankful for financial support, for the work I've put
        it.
      </p>
      <p>
        <li>
          Via bank transaction (Payment purpose: Skafis website donation):
          <br />
          Naglis Šuliokas LT943250092929077836
          <button type="button" color="secondary" (click)="copyBankDetails()">
            {{ copied ? "Copied" : "Copy" }}
          </button>
        </li>
      </p>
    </mat-card-content>
  </mat-card>

  <form [formGroup]="titleForm" (ngSubmit)="generateHTML()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Enter the title" formControlName="title" />
      <mat-error *ngIf="titleForm.get('title')?.errors?.['required']">
        The title is required
      </mat-error>
    </mat-form-field>

    <div formArrayName="questions">
      <div
        *ngFor="let question of questions.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="question-number">{{ i + 1 }}.</div>
        <div>
          <mat-form-field appearance="outline" [style.width.%]="100">
            <mat-label>Question</mat-label>
            <input
              matInput
              placeholder="Enter the question text"
              formControlName="text"
            />
          </mat-form-field>

          <mat-radio-group
            aria-label="Select an option"
            formControlName="selectedOption"
          >
            <div formArrayName="options">
              <div *ngFor="let ctrl of getOptions(i).controls; let j = index">
                <div class="option-letter">
                  {{ j === 0 ? "A" : j === 1 ? "B" : j === 2 ? "C" : "D" }}
                </div>
                <mat-form-field appearance="outline">
                  <mat-label>Option</mat-label>
                  <input
                    matInput
                    [placeholder]="'Enter the option text'"
                    [formControlName]="j"
                  />
                </mat-form-field>
                <mat-radio-button [value]="j"></mat-radio-button>
                <div>
                  {{
                    titleForm.get(["questions", i, "selectedOption"])?.value ===
                    j
                      ? "Correct answer"
                      : "Incorrect answer"
                  }}
                </div>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <button
      type="button"
      mat-raised-button
      color="secondary"
      (click)="addQuestion()"
    >
      Add a question
    </button>

    <button
      *ngIf="questions.length > 1"
      type="button"
      mat-raised-button
      color="warn"
      (click)="removeLastQuestion()"
    >
      Remove the last question
    </button>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="titleForm.invalid"
    >
      Download questionaire HTML
    </button>
  </form>
</main>

<footer>
  <h2>Privatumo politika:</h2>
  <p>
    <strong>Google Analytics.</strong> This website uses Google Analytics and
    tracks only the general analytic information - number of website's visits
    together with devices' locations to a city approximity. Purpose of data
    gathering is to have feedback on how successful the advertising is, and
    according to that - adjust activity on improving the website. To know how
    Google uses collected data, read about
    <a href="https://policies.google.com/" target="_blank" rel="noreferrer"
      >Google privacy and terms</a
    >.
  </p>
  <p>
    <strong>LocalStorage.</strong> In addition, website uses your browser local
    storage to store information on whether you agreed with this website's
    privacy policy. The purpose - user convenience, no pop up repetition for
    getting consent everytime the website is opened.
  </p>
  <br />
  <br />
  <p>
    Website's source code:
    <a
      href="https://github.com/naglissul/skafis"
      target="_blank"
      rel="noreferrer"
      >github.com/naglissul/skafis</a
    >
  </p>
  <p>v1.0.0</p>
  <p>Last time updated: 2024-04-02</p>
  <p>
    My blog and other interesting things here:
    <a href="https://www.npw.lt" target="_blank" rel="noreferrer">npw.lt</a>
  </p>
</footer>
