<form [formGroup]="titleForm" (ngSubmit)="generateHTML()">
  <h1>Skafis tests</h1>
  <em>Create tests easily!</em>
  <p>
    This website generates HTML file with questionaire, where only one answer
    option is correct. The HTML file user then can answer questions and check
    the answers
  </p>
  <button
    type="button"
    mat-raised-button
    color="secondary"
    (click)="changeLanguage()"
  >
    Lietuvių
  </button>
  <mat-form-field appearance="fill">
    <mat-label>Enter Title</mat-label>
    <input matInput placeholder="Enter a title" formControlName="title" />
    <mat-error *ngIf="titleForm.get('title')?.errors?.['required']">
      Title is required.
    </mat-error>
  </mat-form-field>

  <div formArrayName="questions">
    <div
      *ngFor="let question of questions.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="fill">
        <mat-label>Question Text</mat-label>
        <input
          matInput
          placeholder="Enter question text"
          formControlName="text"
        />
      </mat-form-field>

      <mat-radio-group
        aria-label="Select an option"
        formControlName="selectedOption"
      >
        <div formArrayName="options">
          <div *ngFor="let ctrl of getOptions(i).controls; let j = index">
            <mat-radio-button [value]="j"></mat-radio-button>
            <mat-form-field appearance="fill">
              <mat-label>Option</mat-label>
              <input
                matInput
                [placeholder]="'Option Text'"
                [formControlName]="j"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-radio-group>
    </div>
  </div>

  <button
    type="button"
    mat-raised-button
    color="secondary"
    (click)="addQuestion()"
  >
    Add question
  </button>

  <button
    *ngIf="questions.length > 1"
    type="button"
    mat-raised-button
    color="warn"
    (click)="removeLastQuestion()"
  >
    Remove last question
  </button>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="titleForm.invalid"
  >
    Download questionaire HTML
  </button>
</form>
