<form [formGroup]="titleForm" (ngSubmit)="saveTitle()">
  <h1>Math test maker</h1>
  <p>
    Generates HTML file with or without ability to check answers. Without
    ability to check answer for student itself, the encrypted signed answer file
    will be generated
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Enter Title</mat-label>
    <input matInput placeholder="Enter a title" formControlName="title" />
    <mat-error *ngIf="titleForm.controls['title'].errors?.['required']">
      Title is required.
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="titleForm.invalid"
  >
    Save Title
  </button>
</form>
