@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  height: 60px;
}

footer {
  height: 68px;
  padding: 10px;
  text-align: center;
}

main {
  min-height: calc(100vh - 60px - 68px);
  display: flex;
}

section {
  flex: 10 10 0;
  background-color: #e9e9e9;
  padding: 10px;
  max-width: 100%;
  overflow-x: auto;
}

aside {
  flex: 3 3 0;
}

#mobile-header {
  display: none;
}

#desktop-header {
  display: block;
}

.print-only {
  display: none;
}

@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
  header {
    height: fit-content;
  }
  #desktop-header {
    display: none;
  }
  #mobile-header {
    display: block;
  }
}

.dragging {
  opacity: 0.5;
}

@media print {
  @page {
    margin: 0;
  }

  header,
  footer,
  aside,
  .no-print,
  .no-print * {
    display: none;
  }

  .print-only {
    display: block;
  }
}
