/* Base styling */
main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  form {
    padding-top: 2rem;

    .mat-form-field {
      width: 100%;
      margin-top: 1rem;

      input.mat-input-element {
        padding: 0.5rem;
        border-radius: 4px;
      }

      .mat-error {
        color: #d32f2f;
        font-size: 0.8rem;
      }
    }
  }
}

/* Questions and options */
div[formArrayName="questions"] {
  margin-top: 2rem;

  > div {
    display: flex;
    border-left: 4px solid #3f51b5;
    padding-left: 1rem;
    margin-bottom: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 0.5rem;

    .question-number {
      font-weight: 500;
      font-size: 20px;
      margin-right: 10px;
      margin-top: 1.5em;
    }

    [formArrayName="options"] {
      display: flex;
      flex-wrap: wrap;
      gap: 0px;
      padding-left: 10px;

      > div {
        display: flex;
        align-items: center;

        .option-letter {
          font-weight: 500;
          font-size: 20px;
          margin-right: 30px;
        }

        mat-form-field {
          flex-grow: 1;
          margin-right: 16px;
        }

        mat-radio-button {
          margin-right: 1rem;

          &.mat-accent {
            .mat-radio-outer-circle,
            .mat-radio-inner-circle {
              border-color: #3f51b5;
              background-color: #3f51b5;
            }
          }
        }
      }
    }

    mat-form-field {
      margin-top: 0rem;
    }
  }
}

/* Button styling */
button {
  margin: 0.5rem;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-weight: bold;

  &.mat-raised-button {
    &.color-secondary,
    &.color-primary {
      color: white;
    }

    &.color-secondary {
      background-color: #3f51b5;
    }

    &.color-primary {
      background-color: #009688;
    }
  }
}

/* Footer styling */
footer {
  text-align: center;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 600px;
  margin: auto;
}
