/* Base styling */
main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  header {
    padding: 1em 5em 3em;
    text-align: right;

    h1 {
      color: #333;
      font-size: 70px;
      text-align: center;
    }

    h2 {
      text-align: center;
    }
  }

  p {
    font-size: 1rem;
    color: #666;
    text-align: center;
  }

  form {
    padding-top: 2rem;

    .mat-form-field {
      width: 100%;
      margin-top: 1rem;

      input.mat-input-element {
        padding: 0.5rem;
        border-radius: 4px;
      }

      .mat-error {
        color: #d32f2f;
        font-size: 0.8rem;
      }
    }
  }
}

/* Questions and options */
div[formArrayName="questions"] {
  margin-top: 2rem;

  > div {
    border-left: 4px solid #3f51b5;
    padding-left: 1rem;
    margin-bottom: 2rem;

    [formArrayName="options"] {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-left: 20px; // Additional space for options

      > div {
        display: flex;
        align-items: center;

        &:first-child {
          margin-right: 16px; // Space between "A" and input field
        }

        mat-form-field {
          flex-grow: 1;
          margin-right: 16px; // Space between input field and radio button
        }

        mat-radio-button {
          margin-right: 1rem;

          &.mat-accent {
            .mat-radio-outer-circle,
            .mat-radio-inner-circle {
              border-color: #3f51b5;
              background-color: #3f51b5;
            }
          }
        }
      }
    }

    mat-form-field {
      margin-top: 0.5rem;

      mat-label {
        font-size: 0.9rem;
      }

      input {
        font-size: 0.8rem;
      }
    }
  }
}

/* Button styling */
button {
  margin: 0.5rem;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-weight: bold;

  &.mat-raised-button {
    &.color-secondary,
    &.color-primary {
      color: white;
    }

    &.color-secondary {
      background-color: #3f51b5;
    }

    &.color-primary {
      background-color: #009688;
    }
  }
}

/* Footer styling */
footer {
  text-align: center;
  padding-bottom: 30px;
}
