<h1>Math test maker</h1>
<p>Generates HTML file with or without ability to check answers...</p>
<p data-translate>Math test maker</p>
<button
  type="button"
  mat-raised-button
  color="secondary"
  (click)="changeLanguage()"
>
  {{ language === "lt" ? "English" : "Lithuanian" }}
</button>

<form [formGroup]="titleForm" (ngSubmit)="generateHTML()">
  <mat-form-field appearance="fill">
    <mat-label>Enter Title</mat-label>
    <input matInput placeholder="Enter a title" formControlName="title" />
    <mat-error *ngIf="titleForm.get('title')?.errors?.['required']">
      Title is required.
    </mat-error>
  </mat-form-field>

  <div formArrayName="questions">
    <div
      *ngFor="let question of questions.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="fill">
        <mat-label>Question Text</mat-label>
        <input
          matInput
          placeholder="Enter question text"
          formControlName="text"
        />
      </mat-form-field>

      <mat-radio-group
        aria-label="Select an option"
        formControlName="selectedOption"
      >
        <div formArrayName="options">
          <div *ngFor="let ctrl of getOptions(i).controls; let j = index">
            <mat-radio-button [value]="j"></mat-radio-button>
            <mat-form-field appearance="fill">
              <mat-label>Option{{ j }}</mat-label>
              <input
                matInput
                [placeholder]="'Option Text'"
                [formControlName]="j"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-radio-group>
    </div>
  </div>

  <button
    type="button"
    mat-raised-button
    color="secondary"
    (click)="addQuestion()"
  >
    Add question
  </button>

  <button
    *ngIf="questions.length > 1"
    type="button"
    mat-raised-button
    color="warn"
    (click)="removeLastQuestion()"
  >
    Remove Last Question
  </button>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="titleForm.invalid"
  >
    Download HTML
  </button>
</form>
