<footer>
  <h2>Privatumo politika:</h2>
  <p>
    <strong>Google Analytics.</strong> Tinklapis naudoja Google Analytics ir
    seka tik bendrą analitinę informaciją – tinklapio apsilankymų skaičių su
    prisijungimo vietomis miesto tikslumu. Duomenų rinkimo tikslas – turėti
    reklaminio sėkmingumo grįžtamąjį ryšį ir pagal tai keisti tinklapio
    tobulinimo veiklą. Kaip Google naudoja renkamą informaciją, skaitykite apie
    <a href="https://policies.google.com/" target="_blank" rel="noreferrer"
      >Google privatumą ir sąlygas</a
    >.
  </p>
  <p>
    <strong>LocalStorage.</strong> Taip pat tinklapis naudoja jūsų naršyklės
    vietinę talpą, kad patalpintų informaciją apie sutikimą su šio tinklapio
    privatumo politika, bei klausimų pildymo progresą. Tikslas – tinklapio
    naudotojo patogumas, neiššokantis tas pats pranešimas kiekvieną kartą
    atsidarius tinklapį, bei netikėtai neišsitrinantis klausimų kūrimo
    progresas.
  </p>
  <br />
  <br />
  <p>
    Tinklapio kodas:
    <a
      href="https://github.com/naglissul/skafis"
      target="_blank"
      rel="noreferrer"
      >github.com/naglissul/skafis</a
    >
  </p>
  <p>v1.1.0+</p>
  <p>Paskutinį kartą atnaujinta: 2024-08-23</p>
  <p>
    Mano blog'as bei daugiau įdomių dalykų čia:
    <a href="https://www.npw.lt" target="_blank" rel="noreferrer">npw.lt</a>
  </p>
  <p>(c) 2024 MB Skafis. Visos teisės saugomos</p>
</footer>
